@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Asap:ital@1&family=Cedarville+Cursive&family=Lato:ital,wght@1,300&family=Nunito:ital,wght@1,300&family=Syne+Mono&display=swap");
@import "./styles/commonClasses.css";
@import "./styles/variable.css";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
